.root {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: $color-s-grey;
  color: $color-p-black;
}

.swipe-wrapper {
  position: relative;
  min-height: 900px;
}

.content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: $color-s-grey;
  min-height: 900px;
  opacity: 0;

  &-visible {
    opacity: 1;
    z-index: 1;
  }
}

.text {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 10% 0 0 15%;
  opacity: 0;
  transition: opacity 0.2s ease;

  &-content {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    max-width: 500px;
  }

  &-visible {
    opacity: 1;
  }
}

.image {
  max-width: 50%;
  opacity: 0;
  transition: opacity 1s ease;
  aspect-ratio: 1920/1080;

  &-visible {
    opacity: 1;
  }
}
