.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $color-primary;
  color: $color-p-white;
  padding: 10vh 0 40vh;
}

.description {
  margin-bottom: $space-l;
}

.form {
  display: flex;
  flex-flow: column;
  max-width: 25rem;
  gap: $space-m;
}

.text-box {
  all: unset;
  background-color: $color-s-grey;
  border-radius: 6px;
  padding: $space-s;
  color: $color-p-black;
  box-shadow: 2px 2px 5px rgba($color: $color-p-black, $alpha: 0.3);
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-xs;
  cursor: pointer;
  margin-bottom: $space-s;

  input {
    width: 2rem;
    cursor: pointer;
  }
}

.submit {
  width: fit-content;
  align-self: center;
}
