.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $color-primary;
  color: $color-p-white;
  padding: 0 0 20vh;
}

.description {
  margin-bottom: $space-l;
}

.form {
  display: flex;
  flex-flow: column;
  max-width: 25rem;
  gap: $space-m;
}

.text-box {
  all: unset;
  background-color: $color-s-grey;
  border-radius: 6px;
  padding: $space-s;
  color: $color-p-black;
  box-shadow: 2px 2px 5px rgba($color: $color-p-black, $alpha: 0.3);

  &::placeholder {
    font-style: italic;
    font-weight: 500;
    font-size: 0.8rem;
  }
}

.newsletter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-xs;
  cursor: pointer;
  margin-bottom: $space-s;

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: 2px solid $color-p-white;
    border-radius: 4px;

    &:after {
      content: "✔";
      position: absolute;
      opacity: 0;
      top: 0;
      left: 2px;
      font-size: 0.8rem;
      transition: opacity 0.1s ease;
    }
  }

  input {
    width: 2rem;
    cursor: pointer;
    opacity: 0;

    &:checked ~ .checkmark::after {
      opacity: 1;
    }
  }
}

.submit {
  width: fit-content;
  align-self: center;
}
