.root {
  display: flex;
  width: 100%;
  background-color: $color-primary;
  color: $color-p-white;
}

.content {
  display: flex;
  width: 100%;
  gap: $space-xl;
}

.image {
  flex: 1;
  max-width: 50%;
}

.text {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h1 {
  margin-bottom: $space-s;
}

h6 {
  margin-bottom: $space-m;
}

.buttons {
  display: flex;
  gap: $space-m;
  width: 100%;
}
